<button class="mt-2 ml-8 h-10 w-60" nz-button [nzType]="'primary'" (click)="showModalScore()"><span>查询成绩</span></button>

<!-- 成绩的对话框 -->
<nz-modal [nzStyle]="{ width: '60%' }" [(nzVisible)]="isVisibleScore" nzTitle="夏令营成绩" (nzOnCancel)="handleOkScore()"
  (nzOnOk)="handleOkScore()" [nzOkLoading]="isOkLoadingScore">
  <ng-container *nzModalContent>
    <nz-descriptions nzTitle="" nzBordered>
      <nz-descriptions-item nzTitle="姓名" nzSpan="1">
        {{currentStudentInfo.name}} </nz-descriptions-item>
      <nz-descriptions-item nzTitle="账号" nzSpan="2">
        {{currentStudentInfo.uid}} </nz-descriptions-item>
      <nz-descriptions-item nzTitle="夏令营成绩" nzSpan="3">
        {{currentStudentInfo.score2}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="本人是否已经通过成绩审核" nzSpan="3">
        {{currentStudentInfo.status==3?'是':'否'}}</nz-descriptions-item>
    </nz-descriptions>
    <button (click)="ACK()" nz-button nzType="primary" nz-tooltip
      nzTooltipTitle="确认成绩后请务必点击此按钮通过对个人成绩的审核，若对成绩有异议请联系教务部进行申诉。" class="mt-2 ml-2">
      确认本人成绩
    </button>

  </ng-container>

  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleOkScore()">确认</button>
  </div>
</nz-modal>
